<a href="https://colab.research.google.com/github/mushamvineeth/Vineeth_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [3]:
# Your code here

import random
random_list = random.sample(range(1,100), 12)
print ("randomlist  is:", random_list)
randomlist.sort()


#Ascending
random_list.sort()
print (" Ascending order randomlist  is:", random_list)
randomlist

# Descending order 
randomlist.sort(reverse=True)
print (" Descending order randomlist  is:", random_list)
randomlist

# avg 

avg = sum(randomlist) / len(randomlist)    
avg

randomlist  is: [37, 43, 61, 53, 62, 87, 90, 80, 55, 4, 86, 25]
 Ascending order randomlist  is: [4, 25, 37, 43, 53, 55, 61, 62, 80, 86, 87, 90]
 Descending order randomlist  is: [4, 25, 37, 43, 53, 55, 61, 62, 80, 86, 87, 90]

52.083333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [22]:
# Your code here

# Your code here

import string
import re

def punc(p):
  punctuation = "';:%^&\.!?,'"
  for x in p:
    if x in punctuation:
      p=p.replace(x," ")
  return(p)

vowels = "AEIOUaeiou"
sentence_1 = input(" please enter the first string: \n")
X = re.findall(r"[\w']+|['.!?,;:%^&\']", sentence_1)
print(X)
print("\n")
sentence_2 = input(" please enter the second string: \n")
Y= re.findall(r"[\w']+|['.!?,;:%^&\']", sentence_2)
print(Y)
print("\n")
print(" removing punctuations:")
Z = punc(sentence_1)
K= Z.split()
print(K)
M = punc(sentence_2)
N = M.split()
print(N)
print("\n")
O = K + N

print("List of all words from both sentences are:")
print(O)
full = sentence_1 + sentence_2
count = {}.fromkeys(vowels,0)
for char in full:
  if char in count:
    count[char] += 1
print("\nThe count of vowels are:")
print(count)

 please enter the first string:
I love my india
['I', 'love', 'my', 'india']


 please enter the second string:
I love python
['I', 'love', 'python']


 removing punctuations:
['I', 'love', 'my', 'india']
['I', 'love', 'python']


List of all words from both sentences are:
['I', 'love', 'my', 'india', 'I', 'love', 'python']

The count of vowels are:
{'A': 0, 'E': 0, 'I': 2, 'O': 0, 'U': 0, 'a': 1, 'e': 2, 'i': 2, 'o': 3, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [13]:
# Your code here
import numpy as np
print("r    v")
for r in range(1,11):
  print(str(r)+"   "+str(np.pi*(4/3)*(r**2)))
  np.pi

r    v
1   4.1887902047863905
2   16.755160819145562
3   37.69911184307752
4   67.02064327658225
5   104.71975511965977
6   150.79644737231007
7   205.25072003453315
8   268.082573106329
9   339.29200658769764
10   418.87902047863906

In [14]:
np.pi

3.141592653589793

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [20]:
# Your code here
import pandas as pd
import io
from google.colab import files
uploaded = files.upload()

#1
Data_frame = pd.read_csv("Assignment1_denton_housing.csv")
A = Data_frame.loc[Data_frame["title_field"] == "Occupied Housing Units"]
A = A.sort_values('year')
print("Occupied housing office from 2008 to 2014  is:")
print(A)
D = A[['value']]
D = D.diff(periods=1, axis = 0)
print("\nThe difference between two consecutive years is:")
print(D)
print("\nThe difference between two consecutive years in ascending order is: ")
D.sort_values('value')


#For all the years this program calculates the percentage of housing units which are vacant an occupied and printed in a format year, vacant % and occupied %
arr = ['Occupied Housing Units', 'Vacant Housing Units', 'Total Housing Units']
main_Data_frame = Data_frame.loc[Data_frame['title_field'].isin(arr)]
occupied = Data_frame.loc[Data_frame['title_field'] == 'Occupied Housing Units']
vacant = Data_frame.loc[Data_frame['title_field'] == 'Vacant Housing Units']
total = Data_frame.loc[Data_frame['title_field'] == 'Total Housing Units']
year = occupied[['year']]
year.index = range(7)
ls1 = occupied.values.tolist()
ls2 = vacant.values.tolist()
ls3 = total.values.tolist()
ls4 = []
ls5 = []

for i in range(0,7):
  occupied_percent = (ls1[i][2]/ls3[i][2])*100
  vacant_percent = (ls2[i][2]/ls3[i][2])*100
  ls4.append(occupied_percent)
  ls5.append(vacant_percent)
df1 = pd.DataFrame(ls4, columns=["Occupied %"])
df2 = pd.DataFrame(ls5, columns=["Vacant %"])
df3 = pd.concat([df2,df1], axis = 1)
new = pd.concat([year,df3], axis = 1)
new = new.sort_values('year')
print(new)

#To calculate and to print the values and years in which the highest number of housing units were vacant and occupied and printing it in a format title_field, year and value.
occupied_units = Data_frame.loc[Data_frame['title_field'] == 'Occupied Housing Units']
vacant_units = Data_frame.loc[Data_frame['title_field'] == 'Vacant Housing Units']
print(occupied_units)
print("\n",vacant_units)
A = vacant_units.sort_values('value', ascending = False)
x1 = A.iloc[0].values.tolist()
x1[0], x1[1] = x1[1],x1[0]
B = occupied_units.sort_values('value', ascending = False)
x2 = B.iloc[0].values.tolist()
x2[0], x2[1] = x2[1],x2[0]
x3 = [x1,x2]
new_dataframe = pd.DataFrame(columns=['title_field','year','value'], data=x3)
print("\n",new_dataframe)


# Calculating the harmonic mean of the total housing units and print it out.
!pip install scipy
from scipy import stats
p =Data_frame.loc[Data_frame['title_field'] == 'Total Housing Units']
print("\n",p)
print("\nThe harmonic mean of the Total Housing Units is:")
stats.hmean(p.iloc[:,2],axis = 0)

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing (5).csv
Occupied housing office from 2008 to 2014  is:
    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

The difference between two consecutive years is:
     value
20     NaN
17  -795.0
14  5091.0
11  -303.0
8   1404.0
5   1565.0
2   2622.0

The difference between two consecutive years in ascending order is:
   year   Vacant %  Occupied %
6  2008  10.882653   89.117347
5  2009   9.071116   90.928884
4  2010   8.142556   91.857444
3  2011   9.379522   90.620478
2  2012   6.677600   93.322400
1  2013   8.801788   91.198212
0  2014   5.730111   94.269889
    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711

     year           title_field  value
1   2014  Vacant Housing Units   2814
4   2013  Vacant Housing Units   4215
7   2012  Vacant Housing Units   3013
10  2011  Vacant Housing Units   4213
13  2010  Vacant Housing Units   3635
16  2009  Vacant Housing Units   3583
19  2008  Vacant Housing Units   4483

               title_field  year  value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.19.5)

     year          title_field  value
0   2014  Total Housing Units  49109
3   2013  Total Housing Units  47888
6   2012  Total Housing Units  45121
9   2011  Total Housing Units  44917
12  2010  Total Housing Units  44642
15  2009  Total Housing Units  39499
18  2008  Total Housing Units  41194

The harmonic mean of the Total Housing Units is:

44398.28543969185